extends ../layouts/app.pug

block app
  form
    div
      label.block Name
      input

    div
      label.block Name
      input

    div
      label.block Name
      input

    div
      label.block Name
      input
